# Configuración de Variables de Entorno para Supabase & Render
SUPABASE_DB_URL=jdbc:postgresql://db.ymicgxwxvpzzhvcyjnxc.supabase.co:5432/postgres?sslmode=require
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASS=Alessander260502
SUPABASE_URL=https://ymicgxwxvpzzhvcyjnxc.supabase.co
SUPABASE_KEY=YOUR_SUPABASE_SECRET_KEY
